<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KeyboardLayoutEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2FBDCC71CDD2224008D6100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2FBDCDB1CDD2224008D6100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2FBDCE61CDD2224008D6100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2FBDCFC1CDD2292008D6100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
